[2016-08-16 11:58] 1player opened #2 "Consider bumping version"
Commit fdc675e upgraded a few dependencies, including vueify 9.2.3 required to use Vue 2.0, but hasn't bumped the package version.

The only way to use vue-brunch with Vue 2.0 support is to install it from git.

Please consider bumping the vue-brunch version and publishing it.

[2016-08-16 12:54] nblackburn commented on #2
Sorry about this, i have a lot of repos to maintain so tend to do development in waves. I will get right on this once i get back from work.

[2016-08-16 13:25] nblackburn commented on #2
Upon closer inspection, it would be better to maintain support for 1.x for the time being (allowing time for people to migrate) so will start working on a 2.x branch instead.

[2016-08-16 13:32] nblackburn commented on #2
I have reverted these changes for now, i will keep you posted.

[2016-08-16 13:32] 1player commented on #2
Don’t quote me on that, but the new vueify is compatible with both 1.x and
2.x.

The problem with the published version is that it is not compatible with
2.x, so publishing the package with upgraded deps is a win-win.

On 16 August 2016 at 14:30:22, Nathaniel Blackburn (notifications@github.com)
wrote:

Upon closer inspection, it would be better to maintain support for 1.x for
the time being (allo

[2016-08-16 13:36] 1player commented on #2
Please don't revert the changes, or move them in a separate branch at least, or I can't use this package with vue 2.0 anymore and my code is broken.

[2016-08-16 21:27] nblackburn commented on #2
Updated master with 1.x changes and created a dev branch which has updates for 2.x.

[2016-08-16 21:27] #2 closed

[2016-09-02 15:59] nblackburn opened #3 "Drop the vueify dependency"
Rewrite the plugin to be free of its dependency on Vueify. This will allow me to fine tune it specifically for Brunch and have full control of the source.

[2016-09-13 08:33] nblackburn opened #4 "Support for Vue 2.0"
Add support for the soon to be released Vue 2.0.

[2016-09-19 08:53] scottpham opened #5 "Can't load templates"
Hi there, thanks for this plugin, it's really useful. Unfortunately I cannot get the single-file components to load with templates as described in the Vue.js docs. The code in `module.exports` runs but without a template. If I manually add a `template` property with an html string it will work, but it kind of defeats the point of the single-file template idea. Could you take a look at my config?

[2016-09-19 09:00] nblackburn commented on #5
What version of Vue are you using?

[2016-09-19 09:01] scottpham commented on #5
1.0.26

[2016-09-19 09:05] nblackburn commented on #5
OK, you will need to use a lower version as `1.2.1` is a experimental release for Vue 2.0 support but there is an issue with Brunch as it doesn't support converting process variables other than `NODE_ENV` which Vue 2.0 has started using.

https://github.com/brunch/brunch/issues/1510

I suggest trying `1.1.2` as that is the latest version for Vue 1.x.

[2016-09-19 09:10] scottpham commented on #5
Hmm now I'm getting different errors in the terminal that I haven't seen before:
[code]

[2016-09-19 09:13] nblackburn commented on #5
Try installing it as a peer dependency`npm install vue-hot-reload-api@2.0.5 --save-dev`.

[2016-09-19 09:19] nblackburn commented on #3
I am in the process of this now for those interested.

[2016-09-19 09:22] scottpham commented on #5
Ok that got closer but now, different errors! I've seen this one before but it's strange because I wasn't getting it before I installed the new dependencies:

[code]

[2016-09-19 09:23] nblackburn commented on #4
You may have noticed a experimental release (1.2.1) recently which has support for Vue 2.0 but an issue with Brunch prevents it from working as intended.

Brunch doesn't support converting process variables other than `NODE_ENV` which Vue 2.0 has recently started using.

https://github.com/brunch/brunch/issues/1510

[2016-09-19 09:25] nblackburn commented on #5
Try using the following in your config as it might be a little too strict, causing the error you are seeing...

[code]

[2016-09-19 09:31] scottpham commented on #5
hmmm, same error. I'm loading the component like so, from within `app/scripts/mainVue.js`:

[code]
The path is correct as far as I can tell!

[2016-09-19 09:36] nblackburn commented on #5
I imagine the path will be fine but Brunch won't be compiling the template because it's not in the whitelist of things to bundle.

[2016-09-19 17:47] scottpham commented on #5
So I've managed to get it working. Thanks for your help!

Turns out it works better if I put my components folder in my `javascripts` config:
[code]
And just like that works like a charm. To test, I did try keeping this configuration and upgrading `brunch-vue` again and it didn't work, so I think the fix was both parts: downgrading my brunch plugin as you said and adjusting my config as above.

Th

[2016-09-19 18:14] #5 closed

[2016-09-21 23:27] JohnnyCrazy commented on #4
@nblackburn I ran into the same issue on windows today. But it seems like it's a windows only problem. I'm running the exact same code on linux successfully. But sadly I couldn't track why it happens, the object `process` is just missing :/

Arch-Linux:
![img](http://i.imgur.com/yozbD7M.png)

Windows:
![img](http://i.imgur.com/ZXcBd95.png)

[2016-09-21 23:59] nblackburn commented on #4
@JohnnyCrazy What version of Vue are you using?

[2016-09-22 00:03] nblackburn commented on #4
@JohnnyCrazy Do you see an error on the browser console regarding process?

[2016-09-22 00:06] JohnnyCrazy commented on #4
@nblackburn On windows, yes, it's just says `process is undefined`. On linux, no, the Vue-App runs without problems (you can see that `process` exists in the first screenshot on the right side).

[2016-09-22 00:08] nblackburn commented on #4
@JohnnyCrazy I am aware of the issue and think it's related to Brunch only replacing `process.env.NODE_ENV` leaving the recently introduced `process.env.VUE_ENV` as is which is obviously not right.

[2016-09-22 00:09] JohnnyCrazy commented on #4
But why should it work when brunch is run under Linux?

[2016-09-22 00:10] JohnnyCrazy commented on #4
I still can't believe it's a platform issue, will do some more testing tomorrow

[2016-09-22 00:13] nblackburn commented on #4
@JohnnyCrazy Not entirely sure as has been consistent on Mac and Windows but haven't been able to test it on Linux so it comes across as strange how it behaves differently there.

[2016-09-22 00:19] Gangwolf commented on #4
I been having the same problem too. I run brunch under Windows and I get a `process is undefined` console error, but when I run the same project under WSL (Bash on Ubuntu on Windows) it works.

[2016-09-22 00:20] JohnnyCrazy commented on #4
Hah @Gangwolf, thanks for having my back here :P already thought I did something wrong with some versions or similar

[2016-09-22 10:47] nblackburn commented on #4
@JohnnyCrazy I am certain it's Brunch as that handles the shimming of process variables.

[2016-09-22 13:18] JohnnyCrazy commented on #4
Found it after tracing back about 10 files :sweat_smile:

The problem is [here(1)](https://github.com/brunch/node-browser-modules/blob/master/index.js) and [here(2)](https://github.com/brunch/deppack/blob/fad549bb6a95ce258f658bb64951cdfad250a55f/lib/shims.js#L20)

So this is how `process` looks like in (1):
[code]

And this is how `isFileShim` gets it in (2):
[code]

So basically it doesn't get re

[2016-09-22 13:28] nblackburn commented on #4
Great detective work there @JohnnyCrazy, thanks for your hard work.

I had a feeling it would be a pathing issue as I have had similar issues with Brunch before on Windows.

[2016-09-22 21:47] JohnnyCrazy commented on #4
Since I doubt there will be much activity in those repos, I made a quick fix myself in [JohnnyCrazy/node-browser-modules#windowsFix](https://github.com/JohnnyCrazy/node-browser-modules/tree/windowsFix).

Although it's not a final solution, feel free to add them to your projects:
[code]
`node-browser-modules` was last updated around january, we should be fine for some time.

@nblackburn  @Gangwolf

[2016-10-06 20:27] DerJacques commented on #3
Glad to hear it. Very much appreciated!

[2016-10-06 20:35] DerJacques opened #6 "Unable to load regular npm modules from withing component"
Hi there

First: Thank you so much for continuously working on Vue Brunch. We're really happy to use it.

After upgrading to Vue 2.0 and Vue Brunch 1.2.1, I can no longer import any regular npm modules from within my components.

Here's the error:
`Uncaught Error: Cannot find module 'lodash' from 'web/static/js/components/task.vue'`

The relevant section from `task.vue`:
[code]

Note that I can ru

[2016-10-06 21:50] nblackburn commented on #6
If you could spin me up a example repo demonstrating this issue, that would be greatly helpful in getting to the bottom of this.

[2016-10-11 18:08] kevin-DL commented on #4
Hello, i am trying to use the common eventHub in vue2.0. Do you know how i would need to configure my files for it to work?

Cheers,
Kevin

[2016-10-11 18:56] nblackburn commented on #4
@kevin-DL Could i ask if this is related to vue-brunch or a question in general?

[2016-10-11 19:40] kevin-DL commented on #4
@nblackburn Thing is i am not sure at the moment if it would be specific to vue-brunch or not.

[2016-10-11 20:04] nblackburn commented on #4
@kevin-DL No worries, it sounds like a general question for Vue 2.0 but am happy to help with that.

In Vue 2.0, events are handled simply by creating a new Vue instance.

[code]

From there, you can use `$emit` to trigger events,  and `$on` or `$off` to handle them, like so...

[code]

[code]

[2016-10-11 20:08] kevin-DL commented on #4
@nblackburn Thanks a lot.
This far i haven't had any real problem using vue-brunch with vue2.0

[2016-10-11 20:09] nblackburn commented on #4
@kevin-DL Thanks, as far as i am aware, it's only an issue on Windows which i am waiting for a fix on before i am confident to wrap it up and move the 1.x build to another branch.

[2016-10-11 20:34] kevin-DL commented on #4
@nblackburn Cool. Good luck on that

[2016-10-15 21:18] shiningshisa opened #7 "Can't process CSS in Single file Vue components (1.2.1)"
## Fails to process CSS from vue files with vue-brunch 1.2.1
### 1 - Adding style tags to single file vue components results in error/build failure
### 2 - no error in terminal/console, build appears to be fine
### 3 - browser console throws error "unable to find module 'vueify/lib/insert-css' from App.vue"

This always seems to be the case unless I delete the entire node modules folder and reinst

[2016-10-18 20:05] AfraidKnot commented on #6
I am seeing the same thing.  It seem that babel is not being called after the template is converted as any ES2015 will cause the problem.

The App.vue file
[code]
Will generate
[code]
Using these dependencies
[code]

[2016-10-18 20:20] nblackburn commented on #6
@AfraidKnot vue-brunch is basically a wrapper for vueify at the moment so it inherits any problems it may have. In this case babel-core is required as a peer dependency or it will not attempt to transpile anything within the `<script>` tag.

[2016-10-18 20:56] AfraidKnot commented on #6
@nblackburn Thanks for your help, that was indeed the problem.

[2016-10-19 00:01] nblackburn commented on #6
@AfraidKnot It's no bother, glad i was able to get it sorted for you.

[2016-10-30 21:28] #6 closed

[2016-10-31 22:27] nblackburn commented on #4
Finally got a response to fix it myself...

[2016-11-02 09:21] nblackburn commented on #4
OK, so i got a reply from Paul  basically telling me to fix it myself. I used my skeleton for brunch and vue as the base for my experiments and found that process was in fact being populated in the final build however not for files containing VUE_ENV.

I will look into this more this evening and report my findings.

[2016-11-03 14:37] maximkott commented on #6
@nblackburn @AfraidKnot How did you solve this issue?

[2016-11-03 16:07] nblackburn commented on #6
@maximkott You need to install babel-core as a peer dependency.

[2016-11-03 16:16] mos8580 opened #9 "Very summary example of usage for Vue 2.0"
Hi,

I'm new to both Phoenix, brunch and Vue, and I was wondering if there was a very simple how-to to get an "Hello World!" on screen with Vue 2.0 and components from a new Phoenix project.

I was thinking something akin to [this](https://medium.com/front-end-hacking/phoenix-and-vue-js-b974d8b91cb6#.nsgbph18y) that used to work for Vue 1.x.

Apologies in advance if this is obvious...

Thanks!

[2016-11-03 20:19] nblackburn commented on #9
I have never used Phoenix before to be honest.

[2016-11-04 08:09] maximkott commented on #6
Thank you for the quick response. Unfortunately installing `babel-core` does not fix the problem. `axios` http lib is not loading at all, but `lodash` does... I assume this package has additional issues. I've worked around that problem by creating a `lib/axios.js` file that imports **and** exports `axios`. Now I am able to load this lib from `.vue` files by import `lib/axios` instead of `axios`.

[2016-11-04 08:57] nblackburn commented on #6
@maximkott There is 49 LoC so there isn't much that could go wrong with it. It is most likely an issue with Vueify that this is basically a wrapper for.

[2016-11-04 11:40] mos8580 commented on #9
I was a bit hasty and now realize this project is not related to Phoenix in any way, shape or form! Apologies...

[2016-11-04 11:40] #9 closed

[2016-11-04 18:33] nblackburn commented on #9
@mos8580 It's alright, happy to help :)

[2016-11-16 13:51] jlauemoeller commented on #7
By default vueify will compile all .vue component-CSS into in-line style tags, and then use its insert-css module to inject it. If the module is not included in the JS build, this strategy will fail. You can either include the module explicitly somewhere in your app js:

[code]

or switch off in-line styles by adding the following to your `brunch-config.js`:

[code]

[2016-11-17 17:14] #7 closed

[2016-11-22 16:43] matteocontrini commented on #6
I'm having the same issue. If a module is required for the first time in a .vue file, it seems that brunch isn't able to recognize that you need it, thus it doesn't build the module into the js bundle.

[2017-01-12 18:28] JohnnyCrazy commented on #4
Any news @nblackburn ? :pray:

[2017-01-13 05:02] PatKoperwas commented on #6
@DerJacques @matteocontrini @maximkott I ran into the same issue recently and I've found a solution. To get `imports` of npm modules to work try this:

Create a `.babelrc` file with

[code]

I'm guessing `vueify` isn't respecting Brunch's Babel settings. But [vueify will happily use .babelrc](https://github.com/vuejs/vueify#es2015-with-babel)

Then if you want to get the object spread operator wor

[2017-01-13 06:14] PatKoperwas commented on #6
**Edit:** Sigh module loading still doesn't quite work. ^ above will get spread working though

[2017-01-13 09:10] nblackburn commented on #4
@JohnnyCrazy Nope, at the very least i need a post-compile hook to replace VUE_ENV in files i can't access in compile time.

[2017-01-17 12:24] nblackburn commented on #4
@JohnnyCrazy Forgot to mention that i incorporated your changes into a dev release.

[2017-01-17 13:55] JohnnyCrazy commented on #4
Alright, gonna do some testing today then! 👍

[2017-01-17 14:11] JohnnyCrazy commented on #4
Whoop Whoop, seems to work fine on windows/linux 🎉

![](http://i.imgur.com/RJaL7aJ.png)

[2017-01-17 18:24] #4 closed

[2017-02-09 15:48] abienz opened #14 "Uncaught Error: Cannot find module 'vueify/lib/insert-css'"
I'm getting the following error:

my App.vue file has a `<style>` block which seems to be causing this problem, is this not supported by the vue-brunch plugin?

[2017-02-09 16:31] abienz commented on #14
Found the reason/solution in issue #7

[2017-02-09 16:31] #14 closed

[2017-02-09 17:17] nathanhornby opened #15 "Node deprecation warning"
Through a process of trial and error I believe that I've traced a warning to this package:

This warning only appears when I have vue included as a plugin in my brunch config.

[2017-02-10 03:53] srodriki opened #16 "Uncaught Error: Cannot find module 'vueify/lib/insert-css'"
Hi,

First of all, thanks a lot for this plugin. I've been trying to use it with the latest version of vue and everything seems fine as per the compilation goes. However, I'm afraid every time I try to actually load the application in the browser, I will always receive this error:

Uncaught Error: Cannot find module 'vueify/lib/insert-css' from [my component's name].

I've pretty much followed the

[2017-02-10 04:47] srodriki commented on #16
So, apparently after a few tries I got it working by adding the following line to my main js script:

`javascript
import 'vueify/lib/insert-css'`

I'm certainly not sure why is that, but sounds like a bug, and I know it's probably related to the problems you're trying to solve with #3. Are you aiming at using vue-loader instead of vueify to accomplish said issue?

Please let me know if I can be of

[2017-02-10 04:49] srodriki commented on #16
Ok, and now I feel bad... I just saw my issue was reported on #7... sorry!

[2017-02-11 18:35] #16 closed

[2017-02-11 18:41] srodriki opened #17 "Presets are not being passed properly to vueify"
I've been using vue-brunch and got into the need to use vuex's mapGetters helper method, which in turn requires babel's transform-rest-object-spread plugin to work. It appears that, even though I was passing babel's "stage-3" preset as part of brunch's plugin config, vue-brunch is not passing said option to vueify, so I was forced to add a .babelrc with my options, forcing vueify to see it.

I'm n

[2017-02-15 19:29] aeons commented on #6
This is still a problem.

Why is this issue closed?

[2017-02-16 13:58] nblackburn commented on #15
Sorry for the delay on this, it seems to be related to #11.

[2017-02-16 14:00] #15 closed

[2017-02-17 23:31] elawn commented on #6
@aeons agreed.

[2017-02-18 22:30] nblackburn commented on #6
@aeons It was closed because the original issue was resolved.

[2017-02-20 08:25] aeons commented on #6
Hey,
I think only the es6 issues mentioned [the second comment](https://github.com/nblackburn/vue-brunch/issues/6#issuecomment-254623394) was fixed.

At least I cannot import stuff from npm directly in a `.vue` component, unless the import was already imported in a js file. I don't know if it is an issue with this library or vueify.

I have created a small repo reproducing my issue here https://gi

[2017-02-25 13:01] imetallica opened #18 "Error while running brunch"
Hi, I'm having this issue when trying to use `vue-brunch`:

I'm using `brunch: 2.7.5`.

[code]

[2017-03-04 05:51] vizo commented on #6
I can confirm... from vue file imports are never packed.

[2017-03-10 10:54] nblackburn commented on #18
I will take a look at this tonight, sorry for the delay.

[2017-03-20 00:56] imetallica commented on #18
@nblackburn , I figured out just now what was the problem. I had to remove and do a new `npm install`. Sorry not reaching you soon, but this was a project I had to put on hold for a while and just now got it back on it.

[2017-03-20 00:56] #18 closed

[2017-03-20 11:04] nblackburn commented on #18
@imetallica no worries, thanks for updating me on this.

[2017-03-31 18:11] gballet opened #19 "Import and export aren't recognized"
FYI, I am using `vue-brunch` in a Phoenix context. I have copied my .vue files to `web/static/js` and the plugin finds and compile them.

I initially had an issue with the babel configuration, but I copied it from the source repo where I found the `.vue` file.

[code]

It then complains that import and export aren't valid tokens: `Uncaught SyntaxError: Unexpected token export` which points at the

[2017-03-31 20:28] nblackburn commented on #19
Can you setup a repo demonstrating this issue and i will look into it.

[2017-04-01 04:26] gballet commented on #19
You can find a simplified Phoenix project that reproduces the issue there:

https://github.com/gballet/phoenix_vue_brunch_issue

[2017-04-01 15:21] gballet commented on #19
This gentleman has found a workaround when setting `commonjs` in the `.babelrc` file.

https://gist.github.com/jlauemoeller/d53ddd028387cd139c31bf2282dd12f4

 Basically, the idea is to not use `vuefiy/lib/insert-css` which is causing the problem.

I'm still wondering why I have to go with `commonjs` in Phoenix when `export`-style statement seem to work in a standalone brunch project?

[2017-04-03 06:52] brandonparsons commented on #19
@gballet Did you sort this out? I seem to be having the same issue... I can use `commonjs` format, but I'd like to use `es2015`.

[2017-04-03 07:26] brandonparsons commented on #19
Can confirm I'm getting the same issue. Can't seem to get this working with Vue 2.0, and es2015 modules.

[2017-04-03 15:55] gballet commented on #19
@brandonparsons nope, haven't been able to use es2015 modules. Just out of curiosity, are you using a Phoenix application or a standalone brunch app?

[2017-04-04 16:08] brandonparsons commented on #19
@gballet Through Phoenix, so figure we're having the same issues :)

I got it kind of working - it required that I bundle the full version of Vue (i.e. not just the runtime). Adds a bit to the bundle size, but at least it works.

[2017-04-04 18:58] imetallica commented on #19
@brandonparsons @gballet are you using Phoenix 1.2? The default version of brunch in 1.2 is old, I suggest upgrading to the latest version. That solved many of the issues I've had with vue-brunch.

[2017-04-05 03:22] gballet commented on #19
@imetallica I just ran `mix deps.update` to upgrade to phoenix 1.2.3 (the latest according to `mix hex.outdated` at this time) and the problem is still here. I ran `npm update` just to be sure and it's not changing anything.

[2017-04-05 03:28] gballet commented on #19
@brandonparsons from what I understand, the `export` statement should be transpiled. With your fix (or workaround?), how does it get transpiled?

[2017-04-05 03:33] imetallica commented on #19
@gballet I mean, update your dependencies on NPM. Phoenix doesn't have anything to do with NPM.

[2017-04-05 03:35] imetallica commented on #19
@gballet also, you need something like this

[code]

[2017-04-05 13:08] gballet commented on #19
@nblackburn @brandonparsons I have managed to solve the problem. It seems that the issue is with using `babel-preset-latest` instead of `babel-preset-es2015`. Both have the same version, `6.24.0`.

Also, the `.babelrc` needs to be updated to reflect that change, from:

[code]

to:

[code]

Could you please confirm that this solves the problem on your end, so that I can close the issue?

Also, @ime

[2017-04-05 14:45] nblackburn commented on #19
@gballet Glad you got it sorted in the end, i am unable to confirm this fixes the issue so will have to take your word for it on this occasion.

I will wait for @brandonparsons first and if they are happy then this can be closed.

[2017-04-06 18:13] brandonparsons commented on #19
@gballet How did you *not* use `babel-preset-latest`? It is a dependency of `babel-brunch` @ 6.1.1.

[2017-04-06 18:47] brandonparsons commented on #19
@gballet I've tried blowing everything away, and even installing `babel-brunch` from the Github master (they have replaced `babel-preset-latest` with `babel-preset-env`).

I still get the following error unless I tell brunch to use the full version of vue (not runtime only):

`[Vue warn]: You are using the runtime-only build of Vue where the template compiler is not available. Either pre-compile t

[2017-04-06 19:59] brandonparsons commented on #19
I sorted out the problem.

Everything was working fine. The issue was that when I was bootstrapping the Vue instance on my test page, I was using the `el` option in the Vue constructor.  This apparently uses template compilation. If you want to use the runtime-only version of Vue, you have to bootstrap your root component using a `render` function.

This issue can be closed.

[2017-04-06 21:14] #19 closed

[2017-04-07 19:41] imetallica commented on #19
@nblackburn actually can you update the README to the changes that need to be done if you want to use the `vue.common.js`, so you can create single file components and export the css from these components.

The changes are the following

[code]

[2017-04-19 15:09] nblackburn commented on #19
@imetallica I will update the README with instructions on extracting CSS but using the correct build of Vue dependent on the use case is out of scope for this project.

[2017-04-19 15:11] nblackburn opened #20 "Update README with instructions on extracting CSS."
Add instructions on extracting CSS to the README.

[2017-04-20 20:30] nblackburn commented on #20
Done, see 0490b9fbcb0c1b01493dc9c269213ece1b4a4324

[2017-04-20 20:30] #20 closed

[2017-05-05 07:54] StanBright commented on #3
Do you think it will work if we update vueify's version to "^10.x.x"? That way we could use newer versions of vue... maybe :)

[2017-05-05 08:23] nblackburn commented on #3
@StanBright This isn't really relevant to this discussion but there is no 10.x

[2017-05-15 20:22] nicooga commented on #6
I think @aeons is right. I have exactly the same problem described in the issue.
As a workaround I can add  a `require(''package")` or `import * from "package"` to main.js (my entrypoint).

[2017-05-15 23:11] mithereal opened #21 "does not work with brunch 2.7.4"
i cant get this to work on the specified version of brunch
when  templates: {
      joinTo: "js/app.js"
    }
is commented out or the jointo is changed 8in this case to Vue.js when i uncomment/leave default i get a huge file that looks like all the js  in brunch is being build into this file, i cant use the chrome vue devtool because it says not installed also i get this error web/static/customer/

[2017-05-20 22:23] happyCoda opened #22 "Loading npm modules from inside vue files"
I've encounter a problem when attempting to import an npm module from my .vue files. Here is my brunch config:
[code]

and this is a module:
[code]
I compile this stuff and get this error in Chrome console:

`bundle.js:61 Uncaught Error: Cannot find module 'lodash' from 'js/components/book-list.vue'`.

When I looked at bundle.js file I discovered that lodash module has not been included in the bun

[2017-06-02 20:27] nicooga commented on #22
Take a look at https://github.com/nblackburn/vue-brunch/issues/6. I think it's a duplicate.

[2017-06-02 20:41] nicooga opened #23 "Single file components: changes on external stylus templates not being watched"
I'm using external stylus templates this way:

[code]

It works fine but each time I modify the external stylus template I have to restart the server because it doesn't detect the changes to the style.

Not using a partial (by not prefixing the template with "_")  doesn't help. But doing that also means the file would get compiled and joined to something like "app.css", putting the styles in the g

[2017-06-02 20:54] happyCoda commented on #22
@nicooga, yep, I know about that issue, but it has been closed despite the problem did not solved.

[2017-06-19 15:55] lil5 opened #24 "need to use require in index.html"
I strangely need to add
`<script type="text/javascript">
		require('main.js');
	</script>`
for things to work
why?

[2017-06-19 18:16] riri commented on #24
Because brunch does not use an entry point by default, it just bundles your sources.

If you want your main js to be sources when the bundle is required, use the autoRequire in your brunch-config.js like explained [here](http://brunch.io/docs/config#-modules-).

For example:
[code]

[2017-06-19 20:39] lil5 commented on #24
*Thanks so much!*
You've saved me hour of swearing at webpack

[2017-06-19 20:39] #24 closed

[2017-06-26 11:42] emendelski commented on #22
Any news in this thread?

[2017-06-26 16:11] happyCoda commented on #22
@emendelski looks like project is unmaintained. @nblackburn can you shed some light here?

[2017-06-26 16:19] nblackburn commented on #22
@happyCoda Hey, i originally created this project as a quick solution to getting Vue support in Brunch.

I have since moved to webpack for all of my projects so unfortunatly i have not really been maintaining this project.

[2017-06-26 16:23] happyCoda commented on #22
@nblackburn that's sad, but thanks anyway!

[2017-06-26 16:25] happyCoda commented on #22
btw, can you point this in README?

[2017-06-26 17:40] nblackburn commented on #22
@happyCoda Once i have decided what i am doing with this project then i will let everyone know but as it stands i am uncertain of the projects future.

[2017-07-17 18:43] theocodes commented on #23
@nicooga Could you pls confirm this is still an issue? I've just taken over the project and will be looking at addressing issues but want to confirm they're still valid.

Thanks

[2017-07-17 18:46] theocodes commented on #22
@happyCoda I've taken over the project and will be looking at addressing this as soon as I get a chance. Just an FYI :)

[2017-07-17 18:52] theocodes commented on #21
@mithereal could you please create a minimal bare bones project that demonstrates the issues you've had and link it here? It's always best to reduce the cognitive load when reporting issues so to reduce the guess work...

Thanks

[2017-07-17 18:57] #3 closed

[2017-08-17 07:37] anthonygore opened #26 "Is this project deprecated or not maintained or both?"
The readme says its not maintained, the description says it's deprecated.

If deprecated, what's replacing it?

Looks like a really useful plugin so I hope it stays!

[2017-08-30 11:04] bigfang commented on #26
Hi, I fixed bugs that I has been found, repo is [here](https://github.com/bigfang/vue-brunch)

[2017-08-30 12:10] tomquirk commented on #26
Awesome @bigfang. Would be good to have a single repo to work with though!

[2017-08-31 03:27] bigfang commented on #26
@tomquirk you mean we‘d better keep improve this project? if @theocodes decide re-maintained this project, I will glad to send pr to.

last night(UTC+8) I have published a npm named vuejs-brunch, then I noticed your pr. It is great especially tests. so I think you have more experience on javascript than me. but I am not very good at english. If this (publish npm) is not appropriate, plz let me kno

[2017-08-31 03:36] tomquirk commented on #26
Oh yeah, not being sarcastic! I was just making a comment that it's always better to consolidate efforts into a single project.

@theocodes would be great to get your thoughts 😄

[2017-09-07 18:37] jkruse commented on #17
Only the "plugins.vue" part of the Brunch Config is passed to vueify, which kind of makes sense. I worked around this problem by added this to the bottom of my brunch-config.js:

[code]

[2017-09-29 01:24] theocodes commented on #26
Hi all,

Sorry for the delayed reply... Truth is, I'm struggling to find the time to properly look after the project at the minute. I've recently had a baby, for now, unfortunately, my efforts will be a bit limited.

I'm happy to take PR's or even bring in someone who may be interested in helping to maintain the project.

I'm hoping I will be able to find more free time in the near future but for

[2017-09-29 04:36] tomquirk commented on #26
Hey mate,

Great to hear from you. Congrats on the kid!

I've just cleaned up my [PR](https://github.com/theocodes/vue-brunch/pull/25) as per @nblackburn 's comments so that should be ready to come in.

I would be happy for you to bring me on as a collaborator if you see it necessary, but I'm just as happy if you want to accept PR's yourself. I can't say I'll be able to commit 100% to general main

[2017-10-01 15:04] theocodes commented on #26
@tomquirk thanks for the PR. I've merged it in. I've also gone ahead and added ci so it makes the process of reviewing PR's easier over time (potentially as we improve tests).

I've removed the deprecated message from subheader and with some help hope to start driving the project to where it needs to be.

As I explained above, my time is quite limited now but I will try and find a couple of hours

[2017-10-01 15:04] #26 closed

[2017-10-01 21:06] Tim15 opened #28 "Depracated?"
![screenshot-2017-10-1 theocodes vue-brunch 1](https://user-images.githubusercontent.com/11166947/31058948-a401c224-a6ca-11e7-89f0-c78b8f8699ce.png)
Is this brunch plugin depracated? If so, are there replacements?

[2017-10-01 23:08] tomquirk commented on #28
Not anymore! See #26 for details.

[2017-10-02 03:44] tomquirk commented on #28
actually @theocodes you'll need to remove the `deprecated` tag - you're the only one who can do that

[2017-10-02 08:47] theocodes commented on #28
done. :)

[2017-10-02 08:47] #28 closed

[2017-10-06 05:38] tomquirk commented on #21
hey @mithereal ,

The [brunch-vue-barebones](https://github.com/tomquirk/brunch-vue-barebones) skeleton currently uses brunch `2.10.x`. Perhaps check out that project to give you an idea of how to integrate vue-brunch into your own project.

Closing this for now, but feel free to create a new ticket if you think it's still an issue

[2017-10-06 05:38] #21 closed

[2017-10-07 07:54] lroal commented on #21
I did check out the brunch-vue-barebones. Updated all dependencies. Using node 8.
Reload works the first time, but saving the file a second causes a crash in the browser.

[2017-10-07 08:01] tomquirk commented on #21
If I had to guess, I'd say something in your brunch-config is causing it to break. Unfortunately, there's not much I can do without more info! See if you can narrow down the problem and create a new Issue 😄

[2017-10-07 08:39] lroal commented on #21
I am just using the skeleton as it is. It fails to reload if you save a file a second time:
_brunch new -s vue_
update all depencies to *
_npm install_
_npm start_
open localhost at port 3333
change the msg in Hello.vue and save it
reload the web page (it works fine)
change the msg in Hello.vue again and save it
reload the web page (it crashes)   .

[2017-10-07 08:41] lroal opened #29 "Update dependencies to latest"
otherwise you get an error when running _npm start_

[2017-10-07 08:42] lroal commented on #29
Sorry, I posted this in the wrong repo. I will move it to the skeleton repo of tom quirk

[2017-10-07 08:42] #29 closed

[2017-10-07 08:49] lroal commented on #21
It might not be related to @mithereal 's problem, but it is still very frustrating when not even the skeleton project works. That makes me want to give up brunch and go for good old webpack and browserify.

[2017-10-07 11:04] tomquirk commented on #21
Hmm okay, definitely sounds like there's a bug somewhere. Is there anything to suggest it is in this project and not the skeleton?

Either way, @lroal, your issue doesn't sound like its the same as this issue, so I'd suggest making another Issue in [brunch-vue-barebones](https://github.com/tomquirk/brunch-vue-barebones). I maintain it so if it turns out the issue is in vue-brunch I'll recreate it

[2017-10-07 11:53] lroal commented on #21
Okay, I done that now.
The skeleton [tim15/brunch-vue-mdc](https://github.com/tim15/brunch-vue-mdc) fails as well. So it might be a problem with vue-brunch / brunch / vueify

[2017-11-10 22:51] bobmanary commented on #22
I think this should be fixable by changing `VueBrunch.prototype.type = 'template';` to `'javascript'`. I'm not sure if there are any other problems caused by this but it appears to work for me.

I guess there was a design decision by the Brunch people to not analyze the output of 'template' plugins for imports, but it works when importing other templates because it bundles all of the app directory

[2017-11-19 13:08] pierrebeitz opened #30 "Problem loading npm-packaged vue-component"
Hi there!

I wanted to use [vue-google-autocomplete](https://github.com/olefirenko/vue-google-autocomplete) via brunch. This package declares a vue-file as its `main` in `package.json`.

When adding it to the project and integrating it as per its readme, everything looks fine until the moment one opens the browser:

    Uncaught Error: Cannot find module 'vue-google-autocomplete' from 'main.js'

I

[2017-11-22 22:05] alec-c4 opened #31 "migrate from deprecated vue2-brunch"
Hi,
could you explain me how to migrate from deprecated vue2-brunch to your vue-brunch? For example - if I use code from [this article](https://baroni.tech/blog/phoenix-brunch-vuejs-part1/) I'd like to use maintained code

[2017-11-26 11:14] pierrebeitz commented on #30
just tell brunch that it shall run (more) compilers on packages!

[code]

[2017-11-26 11:14] #30 closed

[2017-11-26 11:17] pierrebeitz commented on #31
do you have any problems when switching from `vue2-brunch` to `vue-brunch`?

it looks as if they almost do the same thing (running stuff through `vuetify`), but `vue-brunch` is additionally capable of extracting css.

[2017-11-27 09:34] alec-c4 commented on #31
ohhh, I've found - I have forgotten to add

[code]

to brunch-config.js

[2017-11-27 09:34] #31 closed

[2017-11-29 14:27] kwando commented on #22
Any news on this? :)

[2017-11-30 17:14] samuelgozi commented on #22
If anyone has a solution for this, Please share!

[2017-12-03 14:06] StarpTech opened #32 "Sourcemaps does not work"
1. Check [this](https://github.com/netzkern/brunch-demo) out
2. Insert `debugger` [here](https://github.com/netzkern/brunch-demo/blob/master/app/components/Hello.vue#L11) and you will see `var` instead `const` + many transpiled code.

[2017-12-03 14:09] StarpTech opened #33 "CSS caching issue"
The generated `components.css` is not updated when I remove a whole class inside a vue component. For me, it looks like that an empty style tag won't be handled as a change.

1. Check [this](https://github.com/netzkern/brunch-demo) out
2. Start with `npm start`
3. Open `http://localhost:3333/`
4. Remove `#app` style in `App.vue` => Nothing happens but if you just change the `color` it works.

[2017-12-05 07:54] stephenhoward opened #34 "Support for i18n blocks (and other custom blocks?) in single component files"
vue-i18n is a popular enough plugin to get mention in the official vue documentation.  This plugin suggests using custom i18n blocks in single-file vue components to hold translated strings.  It would be good to be able to access these blocks under brunch.

[2017-12-19 15:16] elkelk commented on #22
I have a similar issue where I cannot access Object, Array, or JSON objects within a class in a .vue file. Changing `VueBrunch.prototype.type = 'javascript';` also works for me. It seems like a change that should be made.

[2018-01-03 18:57] elkelk commented on #22
Any maintainers interested in merging #35 to close this bug?

[2018-01-03 19:18] nblackburn commented on #22
@elkelk I would like to apologize for for the lack of activity on here, i will touch base with @theocodes and see what is going on.

[2018-01-03 19:27] elkelk commented on #22
No worries! Thanks for pushing it forward.

[2018-01-03 19:31] theocodes commented on #22
Hi all, sorry for the absence but I've too much on my plate at the moment and am unable to address any issues. I'm happy to pass the torch to someone else interested or back to @nblackburn if you like?

Thanks

[2018-01-03 19:43] elkelk commented on #22
You can add me as a contributor and between the three of us, we can maybe keep this thing alive?

[2018-01-04 00:28] nblackburn commented on #22
I have contacted @theocodes offering ownership to be transferred back to me and await a reply.

[2018-01-04 16:37] #22 closed

[2018-01-04 19:41] nblackburn commented on #17
I don't think this is a problem personally, you can pass the babel config via `plugins.vue.babel` as you would expect. The only issue is i guess the potential for having to duplicate the config but at the same time, you might want a slightly different config.

[2018-01-04 19:42] #17 closed

[2018-01-04 19:51] nblackburn commented on #34
The custom blocks in vue-i18n requires https://github.com/kazupon/vue-i18n-loader which is a webpack plugin.

[2018-01-04 19:51] #34 closed

[2018-01-08 08:09] #32 closed

[2018-01-08 08:10] nblackburn commented on #32
Closing this because your code seems to have changed so i assume this is no longer an issue.

[2018-01-11 13:11] wesssel commented on #23
+1 👍

[2018-01-18 13:14] ahmetabdi commented on #22
Still a issue but got closed 🤔

[2018-01-18 13:16] nblackburn commented on #22
@ahmetabdi it's been fixed but not published.

[2018-01-18 13:25] ahmetabdi commented on #22
Ah I see

[2018-03-06 18:58] #33 closed

[2018-03-21 22:14] halostatue opened #37 "vue-template-compiler build failure when upgrading to Vue 2.5.16 from 2.5.13"
I currently have `vue` specified in `package.json` as `"vue": "^2.3.3"`, but the installed version is 2.5.13. When using `yarn upgrade vue` to upgrade from 2.5.13 to 2.5.16, the output from `yarn run brunch build` goes from:

[code]

to:

[code]

I cannot figure out how to upgrade `vue-template-compiler` to 2.5.16 in order to fix the dependency issue here. I am not sure that I *can*.

1. I use yar

[2018-03-27 07:40] gabrielps opened #38 "joinTo"
Is there any way to make vues CSS join to a file instead of extracting it to some compiled folder?

[2018-03-30 02:11] joma74 commented on #37
Occured me too, under somewhat different circumstances. The following may show the culprit.
[code]
So, if some other dep is using vue-template-compiler@2.5.13, you can either
- upgrade the cuplrit(in my case it was laravel-mix)
- downgrade vue back to 2.5.13 in your package.json followed by yarn install
- add "vue-template-compiler": "^2.5.16" to your package.json followed by yarn install followed

[2018-03-30 02:19] halostatue commented on #37
I’m pretty sure that this is a dependency specification in `vue-brunch` based on `yarn why`:

[code]

[2018-03-30 12:23] joma74 commented on #37
In interpretation of npm semver convention and following the transitive dependency chain:

"vue-brunch": "^2.0.1" depending on "vueify": "^9.4.1" depending on "vue-template-compiler": "^2.0.0-alpha.8","

vue-template-compiler 2.5.16 should be compatible. Having read that vue-template-compiler is a peer dependecy of vue, i would go with
[code]

[2018-05-10 00:42] ixmanuel commented on #37
@halostatue I just updated both to vue-template-compiler@2.5.16 and vue@2.5.16.

[2018-05-11 20:18] nblackburn commented on #37
I have updated the lockfile which should hopefully fix some issues, let me know if that solves this issue for you.

[2018-05-25 16:22] gaou-piou opened #39 "autoprefixer for inline-styles"
Can we use autoprefixer for auto prefix styles written in a component?

[2018-05-25 22:08] nblackburn commented on #39
The project uses vueify internally so it inherits any functionality it has.

[2018-05-26 12:26] #39 closed

[2018-09-07 17:10] marghoobsuleman commented on #37
By removing and adding again; solved my problem.
`npm remove vue
npm audit fix --force
npm add vue --save
`

[2018-09-09 05:10] halostatue commented on #37
I’ve just gotten to try this again and it looks like either adding vue-template-compiler as a direct dependency now works. I’m not going to pretend to understand this.

[2018-09-09 05:13] halostatue commented on #37
I’ve just gotten to try this again and it looks like either 2.5.16 or 2.5.17 fixed the issue, but ONLY if I

[2018-09-09 05:17] halostatue commented on #37
It worked because I was still on Vue 2.5.13. I still get:

[code]

[2018-09-09 05:38] halostatue commented on #37
And…`yarn remove vue-brunch && yarn add -D vue-brunch && git checkout -- package.json` works. The checkout is required because of the conflict between brunch (order-of-dev-dependency-keys-matters) and yarn (let's-sort-the-dependency-keys!).

[2018-09-09 05:38] #37 closed

[2018-09-13 17:40] nblackburn opened #40 "vue-brunch is searching for Maintainers!"
*This issue was created by [Maintainers Wanted](https://maintainerswanted.com)* :nerd_face:

*Support us by leaving a star on [Github](https://github.com/flxwu/maintainerswanted.com)!* :star2:

## vue-brunch is searching for new Maintainers! :man_technologist: :mailbox_with_mail:

Do you use vue-brunch personally or at work and would like this project to be further developed and improved?

Or are

[2018-10-11 23:55] #23 closed

[2018-10-11 23:55] #40 closed